.button1,
.button2,
.button3{
    background-color: rgb(241, 128, 151);
    text alignment: center;
    font-size: 20px;
    font-weight: bold;
    font-family:"Times New Roman", "Helvetica Neue", Helvetica, Arial;

    
}

.button1{
    color: navy;    
}
.button2{
    color: rgb(225, 237, 129); 
}
.button3{
    color: rgb(15, 230, 233); 
}